@{
    ViewBag.Title = "About Me";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<div class="row">
    <div class="col-md-4 wfam square plumbrdr"></div>
    <div class="col-md-4 stitch square plumbrdr"></div>
    <div class="col-md-4 dad square plumbrdr"></div>
</div>

<div class="row">
    <div class="overlay col-md-12">
        <p>
            My name is Daniel Vivacqua. I'm originally from Buffalo, NY, where I went to Canisius College to study
            Psychology and Studio Art. After college, I worked for 8 years in the field of services to people with
            developmental disabilities. I gained incredible experience from my work in this field, and met some truly
            amazing people!
        </p>
        <p>
            When my father passed away in December 2015, I decided it was time for a career change. I found out about
            We Can Code IT and was immediately excited! Throughout my time at We Can Code IT, I have learned a variety
            of software engineering and development skills. I also gained the incredible benefits of having experts in the
            field teaching the boot camp; boosting my own self-confidence and skill set; and meeting many different people
            who I have truly grown to admire.
        </p>
        <p>
            For fun, I enjoy writing and making art. I wrote for Change.org's blog site for a while, and find that I can
            never seem to write enough. I am a big comic book collector, and enjoy spending time with new people and learning about
            their interests.
        </p>
        <h2>Skills</h2>
        <ul>
            <li>
                Experience with C#, ASP.NET, Javascript, HTML, CSS, JQuery, and SQL.
            </li>
            <li>
                Experience managing staff, conducting interviews, performance evaluations, and collaborative planning.
            </li>
            <li>
                Skilled in the visual arts.
            </li>
            <li>
                A passion for diversity and inclusion.
            </li>
            <li>
                Visit my GitHub by clicking the icon below!
            </li>
        </ul>
        
        <a href="https://github.com/danielvivacqua"><img src="~/images/github-mark.png" /></a>
    </div>
</div>
