@{
    ViewBag.Title = "About Me";
}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>*@

<div class="row">
    <div class="col-md-4 wfam square plumbrdr"></div>
    <div class="col-md-4 stitch square plumbrdr"></div>
    <div class="col-md-4 dad square plumbrdr"></div>
</div>

<div class="row">
    <div class="overlay col-md-12">
        <div class="container">
            <div class="col-md-12">
                <p class="leftfont">
                    My name is Daniel Vivacqua. I'm originally from Buffalo, NY, where I went to Canisius College to study
                    Psychology and Studio Art. After college, I worked for 8 years in the field of services to people with
                    developmental disabilities. I gained incredible experience from my work in this field, and met some truly
                    amazing people!
                </p>
                <p class="leftfont">
                    When my father passed away in December 2015, I decided it was time for a career change, inspired by his encouragement
                    to continue to grow, learn, and chase my dreams. I found out about We Can Code IT and was immediately excited! Throughout
                    my time at We Can Code IT, I have learned a variety of software engineering and development skills. I also gained the
                    incredible benefits of having experts in the field teaching the boot camp; boosting my own self-confidence and skill set;
                    and meeting many different people who I have truly grown to admire.
                </p>
                <p class="leftfont">
                    I have learned about several programming techniques and tools in my time at We Can Code IT, including HTML5, CSS, Javascript,
                    jQuery, Bootstrap, and Razor. My two favorite programming tools are C# and SQL. I love the organizational and
                    functional aspects of C# and SQL. While I studied Studio Art in college, design does not come to me naturally. I enjoy
                    the challenge of design work and look forward to learning more. However, I truly have fun when I am working with
                    C# and SQL. I would love to work for a small organization or start-up and truly become engaged both in the work that
                    I am doing and in the company culture.
                </p>
                <p class="leftfont">
                    For fun, I enjoy writing and making art. I wrote for Change.org's blog site for a while, and find that I can
                    never seem to write enough. I am a big comic book collector, and enjoy spending time with new people and learning about
                    their interests.
                </p>
            </div>
        </div>
        
            <h1 class="smallcaps">
                <u>Skills</u>
            </h1>
       
        <ul style="list-style-type:none">
            <li>
                Experience with C#, ASP.NET, Javascript, HTML, CSS, jQuery, and SQL.
            </li>
            <li>
                Experience managing staff, conducting interviews, giving performance evaluations, and collaborative planning.
            </li>
            <li>
                Skilled in the visual arts.
            </li>
            <li>
                A passion for diversity and inclusion.
            </li>
            <li>
                <p> </p>
            </li>
        </ul>
        <p>
            <span class="glyphicon glyphicon-arrow-down"></span>
            Visit my GitHub by clicking the icon below!
        </p>


        <a target="_blank" href="https://github.com/danielvivacqua"><img src="~/images/github-mark.png" /></a>
    </div>
</div>

