@{
    ViewBag.Title = "Contact";
}

<div class="row">
    <div class="col-md-6 boldplumbrdr linkedin taller">
        <div class="overlei">
            <h2>My LinkedIn</h2>
            <p class="whiteText">
                Visit my LinkedIn Page!
                <a class="btn btn-plum" href="https://www.linkedin.com/in/danielvivacqua">
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </a>
            </p>
        </div>
    </div>
    <div class="col-md-6 boldplumbrdr githublogo taller">
        <div class="overlei">
            <h2>My GitHub</h2>
            <p class="whiteText">
                Visit my GitHub Account!
                <a class="btn btn-plum" href="https://github.com/danielvivacqua">
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </a>
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h1 class="overlay">Email me!
            <a class="btn btn-plum" href="mailto:drvivacqua@hotmail.com">
                <span class="glyphicon glyphicon-envelope"></span>
            </a>
        </h1>    
    </div>
</div>