@{
    ViewBag.Title = "Home Page";
}

@*<div class="container-fluid">*@
    @*<header>
        <div class="col-md-12">
            <h2>Daniel Vivacqua's Portfolio</h2>
        </div>

    </header>*@


    
<div class="row">
    <div class="col-md-6 promoArea mainImage img-responsive vertical-center plumbrdr">

    </div>

    <div class="col-md-6 promoArea plumbrdr dreamer">

    </div>
</div>



<div class="row">
    <div class="col-md-3 square bwhead plumbrdr">
        <div class="overlei">
            <h2>About Me</h2>
            <p class="whiteText">
                What Brings Me Here
                <a class="btn btn-plum" href="~/Home/About">
                    <span class="glyphicon glyphicon-arrow-right">
                    </span>
                </a>
        </div>
    </div>

    <div class="col-md-3 square plumbrdr contact">
        <div class="overlei">
            <h2>Contact</h2>
            <p class="whiteText">
                LinkedIn, GitHub, and Other Ways to Contact Me
                <a class="btn btn-plum" href="~/Home/Contact">
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </a>
            </p>
        </div>
    </div>
    <div class="col-md-3 square wcciclass plumbrdr">
        <div class="overlei">
            <h2>Projects</h2>
            <p class="whiteText">
                The Work I've Done at We Can {Code} IT.
                <a class="btn btn-plum" href="~/Projects/Index">
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </a>
            </p>
        </div>
    </div>
    <div class="col-md-3 square plumbrdr wccipromo">
        <div class="overlei">
            <h2>About We Can {Code} IT</h2>
            <p class="whiteText">
                <a class="btn btn-plum" href="https://wecancodeit.org/about-us/">
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </a>
            </p>
        </div>
    </div>
</div> 
    @*</div>*@



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="~/Scripts/bootstrap.min.js"></script>
<!--remove the line above and then uncomment the following line to use the CDN for bootstrap's JavaScript file-->
<!--
    <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
