@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <header>
        <div class="col-md-12">
            <h2>Daniel Vivacqua's Portfolio</h2>
        </div>

    </header>


    <div class="col-md-9 promoArea mainImage img-responsive vertical-center">
       
    </div>

    <div class="col-md-3 promoArea "></div>



    <div class="col-md-3 square bwhead">             <h2>About Me</h2>                      </div>         <div class="col-md-3 square">             <div class="overlei">                 <h2>Contact</h2>                 <p class="whiteText">                     LinkedIn, GitHub, and Other Ways to Contact Me                     <button type="button" class="btn btn-info">Explore</button>                 </p>             </div>         </div>         <div class="col-md-3 square wcciclass">             <div class="overlei">                 <h2>Projects</h2>                 <p class="whiteText">                 The Work I've Done at We Can {Code} IT.                 <button type="button" class="btn btn-info">*</button>                 </p>             </div>         </div> 
    <footer>
        <div class="col-md-12">Footer text.</div>
    </footer>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="~/Scripts/bootstrap.min.js"></script>
<!--remove the line above and then uncomment the following line to use the CDN for bootstrap's JavaScript file-->
<!--
    <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
